*,
*::after,
*::before {
	box-sizing: border-box;
}

ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	list-style: none;
}

li {
	list-style-type: none;
	padding-left: 0;
}

span {
	text-decoration: none;
	color: #E6E6E6;
	font-family: 'Roboto';
}

a {
	text-decoration: none;
	color: #E6E6E6;
}

body {
	background: linear-gradient(90deg, #2B4F4B 0%, #849D79 86.04%);

}

.header {
	height: 92px;
	max-width: 1440px;
	gap: 203px;
	display: flex;
	align-items: center;
}

.header__logo {
	height: 39px;
	display: flex;
	margin-left: 30px;
	flex-direction: row;
	align-items: center;
}

.header_img {
	align-items: center;

	position: absolute;
	width: 12px;
	height: 39px;
	left: 45px;
	top: 43px;
}

.header__img2 {
	align-items: center;
	display: flex;
	width: 12.07px;
	height: 12.07px;
	margin-bottom: 20px;

}

.header__list {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.header__logoname {
	font-style: normal;
	font-weight: 700;
	line-height: 39px;
	font-family: "Montserrat";
	font-size: 32px;
	color: #E6E6E6;
	margin-left: 20px;
}

.header__link {
	align-items: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	font-family: "Montserrat";
	color: #E6E6E6;
	font-size: 20px;
	margin-left: 32px;
}

.header__krug {
	margin-left: 30px;
}

.emotionsflower {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
}

.emotionsflower__block1 {
	margin-left: 45px;

}

.emotionsflower__text1 {
	width: 505px;
	height: 238px;
	font-family: 'Rubik One';
	font-style: normal;
	font-weight: 400;
	font-size: 96px;
	line-height: 119px;
	color: #E6E6E6;
	font-family: "Rubik";
	font-style: normal;
	font-weight: bolder;
	font-size: 96px;
	line-height: 119px;
	color: #E6E6E6;
	text-shadow: 2px 2px 4px rgba(0 0 0 / 29%);
}

.emotionsflower__text2 {
	width: 552px;
	height: 24px;
	margin-top: 56px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #E6E6E6;
}

.emotionsflower__button {
	margin-top: 58px;
	display: flex;
	width: 295px;
	height: 72px;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 295px;
	height: 72px;
	border: 4px solid #E2BD64;
	border-radius: 38px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	color: #E6E6E6;
	position: relative;
}

.emotionsflower__button-text {
	margin-right: 34px;
}

.emotionsflower__button-ball {
	display: flex;
	align-items: center;
	position: absolute;
	right: 3px;
}

.emotionsflower__block2 {
	display: flex;
	position: relative;
}

.emotionsflower__background {
	position: absolute;


}

.emotionsflower__gorshok {
	position: absolute;
	width: 795px;
	height: 795px;
	right: 80px;
	top: 85px;

}

.emotionsflower__smile {
	position: absolute;
	left: 3.86%;
	right: 16.04%;
	top: 64.44%;

}

.emotionsflower__emotions {
	margin-left: 61px;
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 4.24%;
	top: 30.19%;
	bottom: 91.88%;
}

.emotionsflower__happy {
	margin-bottom: 30px;
}

.emotionsflower__angry {
	margin-bottom: 30px;

}

.emotionsflwower__normal {
	margin-bottom: 30px;
}

.infoemotions__background1 {
	width: 341px;
	height: 332px;
	background: #E2BD64;
	box-shadow: 0px 4px 8.1px rgba(0, 0, 0, 0.11);
	border-radius: 77px 0px 0px 77px;
}

.infoemotions__block2 {
	width: 1281px;
	height: 166px;
	background: #294030;
	border-radius: 77px 0px 0px 77px;

}

.infoemotions__block3 {
	width: 257px;
	height: 166px;
	background: linear-gradient(90deg, #839F6F 0%, #9BB989 100%);
}

.infoemotions__block4 {
	width: 940px;
	height: 166px;
	background: #406048;
	box-shadow: 0px 4px 8.1px rgba(0, 0, 0, 0.11);

}

.infoemotionts__2text1 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #E6E6E6;
}

.infoemotionts__2text2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #E6E6E6;
}

.infoemotions__4text1 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;

	color: #E6E6E6;
}

.infoemotions__youtube {
	width: 39px;
	height: 39px;
}